body {
    font-family: 'Arial', sans-serif;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background: linear-gradient(to right, #F57909, #FC450C);
    color: white;
    height: 100vh;
    position: fixed;
    padding: 20px 0;
    transition: width 0.3s ease;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar {
    scrollbar-width: none;
}

.brand {
    padding: 20px;
    text-align: center;
    position: relative;
}

.hamburger {
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    position: relative;
}

.menu a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu a .icon {
    margin-right: 10px;
    font-size: 20px;
}

.menu a .text {
    display: inline;
}

.menu a:hover,
.menu a.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.submenu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    transition: max-height 0.3s ease-out;
}

.menu li.active .submenu {
    max-height: 200px;
    transition: max-height 0.3s ease-in;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    transition: margin-left 0.3s ease;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #FF6F61;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-content input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 15px;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-left: auto
}
.user-profile .emoji {
    font-size: 40px;
    margin-right: 10px;
}

.user-profile span {
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: #FF6F61;
    color: #FFFFFF;
    font-weight: bold;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #FF4C40;
}

.card h3 {
    margin: 0 0 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.card button {
    background-color: #FFC107;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.card button:hover {
    background-color: #FFA000;
    transform: scale(1.05);
}
ul.user-menu {
    list-style: none;
    padding: 10px 15px;
    position: absolute;
    right: 5px;
    top: 4.2rem;
}
ul.user-menu li {
    width: 150px;
    background-color: #FF6F61;
}
.user-menu a{
    color: #FFFFFF; 
    text-decoration: none; 
    display: block; 
    padding: 10px 15px; 
    text-align: center;
}

.user-menu li:hover{
    background-color: #FF4C40; 
    cursor: pointer;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed .menu a {
    justify-content: center;
}

.sidebar.collapsed .menu a .icon {
    margin-right: 0;
}

.sidebar.collapsed .menu a .text {
    display: none;
}

.sidebar.collapsed .hamburger {
    display: block;
}

.sidebar.collapsed .menu a .arrow {
    display: none;
}

.sidebar.collapsed + .main-content {
    margin-left: 60px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 200px;
    }

    .header-content {
        flex-direction: column;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}
