/* color-constants.css */
:root {
    --primary-color: #F57909;
    --secondary-color: #FC450C;
    --background-color: #ffffff;
    --text-color: #17275E;
    --accent-color: #FFC107;
    --font-family: 'Arial', sans-serif;
    --border-radius: 8px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

#homepage {
  text-align: center;
}

#homepage header img {
  max-width: 200px;
}

.contact-info {
  margin-top: 1.5em;
}
