.arrow {
    float: right;
    margin-left: 10px;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    transition: max-height 0.3s ease-out;
  }
  
  .menu li.active .submenu {
    max-height: 200px;
    transition: max-height 0.3s ease-in;
  }
